@import '../../styles/variables.scss';
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

.thumbnail {
  display: block;
  margin: 1.2rem 0;
  padding: 1rem;
  border-bottom: 0.5px solid #dce3e9;
  p {
    font-family: 'NanumSquare';
    font-size: 95%;
    line-height: 1.6;
  }
  h3 {
    font-family: 'NanumSquare';
    margin: 1rem 0.5rem;
    line-height: 2rem;
  }
  h6 {
    margin: 1.5rem 0 0.5rem 0;
    font-style: italic;
    font-family: 'NanumSquare';
    text-align: right;
  }
}
.thumbnail.visible {
  opacity: 1;
}

.thumbnail:hover {
  transition: 0.1s ease-out;
  transform: scale(1.02);
  border-radius: 8px;
  border: 1px solid #cdcdcd;
  box-shadow: 2px 2px 2px #cdcdcd;
}
