@import '../../styles/variables.scss';
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

.thumbnail {
  transition: 0.2s ease-in-out !important;
  display: block;
  margin: 1.2rem 0;
  padding: 1rem;
  border-bottom: 0.5px solid #dce3e9;
  p {
    font-size: 0.9rem;
    line-height: 1.8;
  }
  h3 {
    margin: 1rem 0.5rem;
    line-height: 2rem;
  }
  h6 {
    margin: 1.5rem 0 0.5rem 0;
    font-style: italic;
    text-align: right;
  }
}

.thumbnail.visible {
  opacity: 1;
}

.thumbnail:hover {
  h3 {
    transition: 0.2s ease-in-out !important;
    color: rgb(135, 173, 199) !important;
  }
}
