@import '../../styles/variables.scss';
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

.thumbnail {
  display: block;
  margin: 1.2rem 0;
  padding: 1rem;
  box-shadow: none;
  opacity: 0;
  border: 0.5px solid #dce3e9;
  box-shadow: 2px 2px 4px rgb(47, 47, 47);
  border-radius: 8px;
  p {
    font-family: 'NanumSquare';
    font-size: 95%;
    line-height: 1.6;
  }
  h3 {
    font-family: 'NanumSquare';
    margin: 1rem 0.5rem;
  }
}
.thumbnail.visible {
  opacity: 1;
}
