.guestBook__title {
  margin-bottom: 0.5rem;
}

.guestBook__container {
  display: flex;
  flex-direction: column;
}

.guestBook__guestList {
  overflow-y: scroll;
  overflow-x: visible;
  height: 280px;
}

.guestBook__guestList::-webkit-scrollbar {
  display: none;
}

.guestBook__form {
  width: 100%;
  border-top: 1px solid hsla(0, 0%, 0%, 0.07);
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.guestBook__secret {
  display: inline-block;
  vertical-align: middle;
}

.guestBook__name {
  margin: 1rem 0;
  padding: 0.4rem;
  border-radius: 6px;
  border: 1px solid hsla(0, 0%, 0%, 0.3);
}

.guestBook__secret__label {
  margin: 0 0.5rem;
}

.guestBook__secret__label:hover {
  cursor: url('../../content/assets/event.png'), auto;
}

.guestBook__button {
  display: inline-block;
  margin: 1.5rem 1rem;
  cursor: url('../../content/assets/event.png'), auto;
  width: 10rem;
}

.guestBook__message {
  resize: none;
  border-radius: 6px;
  padding: 0.4rem;
  border: 1px solid hsla(0, 0%, 0%, 0.3);
}
