.guestBook__container {
  display: flex;
  flex-direction: column;
}

.guestBook__guestList {
  overflow-y: scroll;
  height: 280px;
}

.guestBook__guestList::-webkit-scrollbar {
  display: none;
}

.guestBook__form {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.guestBook__name {
  margin: 1rem 0;
}

.guestBook__button {
  position: relative;
  margin: 1.5rem 0;
  width: 10rem;
}

.guestBook__message {
  resize: none;
}
