@import url('https://cdn.jsdelivr.net/gh/moonspam/NanumBarunGothic@latest/nanumbarungothicsubset.css');
@import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

.home-header {
  margin-top: 0;
  border-bottom: none;
  font-weight: 300;
  font-size: 2.6rem;
  letter-spacing: -2px;
  font-family: 'Nanum Pen Script', 'NanumBarunGothic';
  font-weight: 300;
  font-style: normal;
}

.link {
  box-shadow: none;
  text-decoration: none;
  color: inherit;
}

.note_1 {
  display: inline-block;
  transform: rotate(-7deg);
}

.note_2 {
  display: inline-block;
  transform: rotate(7deg);
}
