@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

.home-header {
  margin-top: 0;
  border-bottom: none;
  font-weight: 300;
  font-size: 1.8rem;
  font-family: 'Noto Sans KR', sans-serif;
  letter-spacing: -2px;
}

.link {
  box-shadow: none;
  text-decoration: none;
  color: inherit;
}
