@import url('https://cdn.jsdelivr.net/gh/moonspam/NanumBarunGothic@latest/nanumbarungothicsubset.css');

.home-header {
  margin-top: 0;
  border-bottom: none;
  font-weight: 300;
  font-size: 1.8rem;
  letter-spacing: -2px;
  font-family: 'SeoulNamsanM';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulNamsanM.woff')
    format('woff');
  font-weight: 300;
  font-style: normal;
}

.link {
  box-shadow: none;
  text-decoration: none;
  color: inherit;
}
