@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

.home-header {
  margin-top: 0;
  border-bottom: none;
  font-weight: 600;
  font-size: 2rem;
  font-family: 'NanumSquare';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff')
    format('woff');
  letter-spacing: -2px;
}

.link {
  box-shadow: none;
  text-decoration: none;
  color: inherit;
}
