@import '../../styles/variables.scss';

.top {
  position: relative;
  width: 100%;
  height: 3rem;
  background: linear-gradient(269deg, #14598c, #d7e4ed, #73bbd8, #7593b9);
  background-size: 800% 800%;

  -webkit-animation: OceanWave 13s ease infinite;
  -moz-animation: OceanWave 13s ease infinite;
  animation: OceanWave 13s ease infinite;

  .link {
    display: inline-block;
    font-size: 1.5rem;
    color: $top-header-text-color;
    opacity: 0.7;
    margin-left: 1.5rem;
    margin-top: 1.5rem;
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff')
      format('woff');
  }
}

@-webkit-keyframes OceanWave {
  0% {
    background-position: 0% 54%;
  }
  50% {
    background-position: 100% 47%;
  }
  100% {
    background-position: 0% 54%;
  }
}
@-webkit-keyframes OceanWave {
  0% {
    background-position: 0% 54%;
  }
  50% {
    background-position: 100% 47%;
  }
  100% {
    background-position: 0% 54%;
  }
}
@-moz-keyframes OceanWave {
  0% {
    background-position: 0% 54%;
  }
  50% {
    background-position: 100% 47%;
  }
  100% {
    background-position: 0% 54%;
  }
}
@keyframes OceanWave {
  0% {
    background-position: 0% 54%;
  }
  50% {
    background-position: 100% 47%;
  }
  100% {
    background-position: 0% 54%;
  }
}
