@import '../styles/variables.scss';
@import '../styles/light-theme.scss';
@import '../styles/dark-theme.scss';
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

h1 {
  font-weight: 700;
  line-height: 1.2;
}

h2 {
  font-weight: 700;
  line-height: 1.2;
  margin-top: 56px;
  margin-bottom: 20px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue',
    'Apple SD Gothic Neo', 'source sans pro', 'Apple SD Gothic Neo',
    'NanumSquare', 'Malgun Gothic', '맑은 고딕', 'Nanum Gothic' !important;
  font-size: 16px;
  color: #333333;
  text-shadow: none;
  line-height: 1.9;
  background-color: $light-background-color;
  -webkit-text-size-adjust: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color 0.3s, color 0.3s;
  cursor: url('../../content/assets/normal.png'), auto;
  a {
    cursor: url('../../content/assets/event.png'), auto;
  }
}

body:active {
  cursor: url('../../content/assets/click.png'), auto;
}

@media (max-width: 768px) {
  body {
    font-family: 'Spoqa Han Sans', 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-size: 15px;

    font-size: 0.9rem;
  }
}

.footnotes > ol > li > p {
  display: inline;
  font-size: 0.9rem;
}
