@import '../styles/variables.scss';
@import '../styles/light-theme.scss';
@import '../styles/dark-theme.scss';
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

body {
  font-family: 'Spoqa Han Sans', 'Noto Sans KR', sans-serif;
  font-weight: 300;
  background-color: $light-background-color;
  -webkit-text-size-adjust: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color 0.3s, color 0.3s;

  a {
    cursor: url('../../content/assets/event.png'), auto;
  }
}
